In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [2]:
smalldf = pd.read_csv("I:/Masters/SPRING 18/SPATIAL AND TEMPORAL/spatial/project/final/datap3.csv")
inc_edu_age = pd.read_csv("I:/Masters/SPRING 18/SPATIAL AND TEMPORAL/spatial/project/final/socioeconomic.csv",index_col=0)

In [3]:
smalldf.head()

,ID,Date,Block,IUCR,Description,Location Description,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Latitude,Longitude,Location,severe,Primary Type_ARSON,Primary Type_ASSAULT,Primary Type_BATTERY,Primary Type_BURGLARY,Primary Type_CRIM SEXUAL ASSAULT,Primary Type_CRIMINAL DAMAGE,Primary Type_CRIMINAL TRESPASS,Primary Type_DECEPTIVE PRACTICE,Primary Type_GAMBLING,Primary Type_HOMICIDE,Primary Type_INTERFERENCE WITH PUBLIC OFFICER,Primary Type_INTIMIDATION,Primary Type_KIDNAPPING,Primary Type_LIQUOR LAW VIOLATION,Primary Type_MOTOR VEHICLE THEFT,Primary Type_NARCOTICS,Primary Type_OFFENSE INVOLVING CHILDREN,Primary Type_PROSTITUTION,Primary Type_PUBLIC PEACE VIOLATION,Primary Type_ROBBERY,Primary Type_SEX OFFENSE,Primary Type_STALKING,Primary Type_THEFT,Primary Type_WEAPONS VIOLATION,District_D1.0,District_D10.0,District_D11.0,District_D12.0,District_D14.0,District_D15.0,District_D16.0,District_D17.0,District_D18.0,District_D19.0,District_D2.0,District_D20.0,District_D22.0,District_D24.0,District_D25.0,District_D3.0,District_D4.0,District_D5.0,District_D6.0,District_D7.0,District_D8.0,District_D9.0,District,Primary Type,time_24hour,Date_no_time,Timeblock_0,Timeblock_12,Timeblock_15,Timeblock_18,Timeblock_21,Timeblock_3,Timeblock_6,Timeblock_9,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday,closest_station
0,10000092,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,AGGRAVATED: HANDGUN,STREET,28,25,04B,1144606,1903566,2015,41.891399,-87.744385,"(41.891398861, -87.74438456700001)",1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D11.0,BATTERY,19:44,20150318,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1.452234
1,10000095,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,486,DOMESTIC BATTERY SIMPLE,APARTMENT,4,39,08B,1185075,1875622,2015,41.813861,-87.596643,"(41.81386068, -87.596642837)",1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,D2.0,BATTERY,22:45,20150318,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1.933692
2,10000096,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,460,SIMPLE,APARTMENT,3,40,08B,1178033,1870804,2015,41.800802,-87.622619,"(41.800802415, -87.622619343)",1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,D2.0,BATTERY,22:30,20150318,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0.414610
3,10000097,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ARMED: HANDGUN,SIDEWALK,28,25,3,1144920,1898709,2015,41.878065,-87.743354,"(41.878064761, -87.74335401299999)",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D11.0,ROBBERY,21:00,20150318,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1.284859
4,10000098,03/18/2015 10:00:00 PM,049XX S DREXEL BLVD,460,SIMPLE,APARTMENT,4,39,08B,1183018,1872537,2015,41.805443,-87.604284,"(41.805443345, -87.604283976)",1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,D2.0,BATTERY,22:00,20150318,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1.375457

In [4]:
inc_edu_age.head(5)

               COMMUNITY AREA NAME  PERCENT HOUSEHOLDS BELOW POVERTY  PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA  PERCENT AGED 16+ UNEMPLOYED  PERCENT AGED UNDER 18 OR OVER 64  PER CAPITA INCOME
HARDSHIP INDEX
39.0                   Rogers Park                              23.6                                          18.2                          8.7                              27.5               23939
46.0                    West Ridge                              17.2                                          20.8                          8.8                              38.5               23040
20.0                        Uptown                              24.0                                          11.8                          8.9                              22.2               35787
17.0                Lincoln Square                              10.9                                          13.4                          8.2                              25.5               37524
6.0                   North Center                               7.5                                           4.5                          5.2                              26.2               57123

In [5]:
smalldf["Income"]=smalldf["Community Area"].apply(lambda row: inc_edu_age.iloc[int(row)-1].iloc[5])

In [ ]:
smalldf['HARDSHIP INDEX']=smalldf["Community.Area"].apply(lambda row: inc_edu_age.iloc[int(row)-1].iloc[0])

In [ ]:
smalldf['Under18_over64']=smalldf["Community.Area"].apply(lambda row: inc_edu_age.iloc[int(row)-1].iloc[5])

In [ ]:
smalldf['Unemployed']=smalldf["Community.Area"].apply(lambda row: inc_edu_age.iloc[int(row)-1].iloc[4])

In [ ]:
smalldf['House_below_poverty']=smalldf["Community.Area"].apply(lambda row: inc_edu_age.iloc[int(row)-1].iloc[2])

In [6]:
smalldf.head(5)

,ID,Date,Block,IUCR,Description,Location Description,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Latitude,Longitude,Location,severe,Primary Type_ARSON,Primary Type_ASSAULT,Primary Type_BATTERY,Primary Type_BURGLARY,Primary Type_CRIM SEXUAL ASSAULT,Primary Type_CRIMINAL DAMAGE,Primary Type_CRIMINAL TRESPASS,Primary Type_DECEPTIVE PRACTICE,Primary Type_GAMBLING,Primary Type_HOMICIDE,Primary Type_INTERFERENCE WITH PUBLIC OFFICER,Primary Type_INTIMIDATION,Primary Type_KIDNAPPING,Primary Type_LIQUOR LAW VIOLATION,Primary Type_MOTOR VEHICLE THEFT,Primary Type_NARCOTICS,Primary Type_OFFENSE INVOLVING CHILDREN,Primary Type_PROSTITUTION,Primary Type_PUBLIC PEACE VIOLATION,Primary Type_ROBBERY,Primary Type_SEX OFFENSE,Primary Type_STALKING,Primary Type_THEFT,Primary Type_WEAPONS VIOLATION,District_D1.0,District_D10.0,District_D11.0,District_D12.0,District_D14.0,District_D15.0,District_D16.0,District_D17.0,District_D18.0,District_D19.0,District_D2.0,District_D20.0,District_D22.0,District_D24.0,District_D25.0,District_D3.0,District_D4.0,District_D5.0,District_D6.0,District_D7.0,District_D8.0,District_D9.0,District,Primary Type,time_24hour,Date_no_time,Timeblock_0,Timeblock_12,Timeblock_15,Timeblock_18,Timeblock_21,Timeblock_3,Timeblock_6,Timeblock_9,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday,closest_station,Income
0,10000092,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,AGGRAVATED: HANDGUN,STREET,28,25,04B,1144606,1903566,2015,41.891399,-87.744385,"(41.891398861, -87.74438456700001)",1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D11.0,BATTERY,19:44,20150318,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1.452234,15957
1,10000095,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,486,DOMESTIC BATTERY SIMPLE,APARTMENT,4,39,08B,1185075,1875622,2015,41.813861,-87.596643,"(41.81386068, -87.596642837)",1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,D2.0,BATTERY,22:45,20150318,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1.933692,35911
2,10000096,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,460,SIMPLE,APARTMENT,3,40,08B,1178033,1870804,2015,41.800802,-87.622619,"(41.800802415, -87.622619343)",1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,D2.0,BATTERY,22:30,20150318,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0.414610,13785
3,10000097,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ARMED: HANDGUN,SIDEWALK,28,25,3,1144920,1898709,2015,41.878065,-87.743354,"(41.878064761, -87.74335401299999)",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,D11.0,ROBBERY,21:00,20150318,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1.284859,15957
4,10000098,03/18/2015 10:00:00 PM,049XX S DREXEL BLVD,460,SIMPLE,APARTMENT,4,39,08B,1183018,1872537,2015,41.805443,-87.604284,"(41.805443345, -87.604283976)",1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,D2.0,BATTERY,22:00,20150318,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1.375457,35911

In [7]:
smalldf.head()
print(smalldf.shape)
smalldf=smalldf[smalldf["Location Description"]!="OTHER"]
smalldf=pd.get_dummies(smalldf,columns=["Location Description"])
print(smalldf.shape)

(65499, 83)
(62873, 106)

In [8]:
smalldf.to_csv("I:/Masters/SPRING 18/SPATIAL AND TEMPORAL/spatial/project/final/chicago_final_clean.csv", index=False)